// ## Colors
$Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
$De-saturated-Dark-Blue: hsl(214, 17%, 51%);
$Grayish-Blue: hsl(212, 23%, 69%);
$Light-Grayish-Blue: hsl(210, 46%, 95%);
$light-color: #fff;

// font-stack
$font-stack: "Manrope", sans-serif;
// image
$background-image: url(drawers.jpg);
